/* 设置全局的滚动条样式 */
::-webkit-scrollbar {
    width: 5px !important;
    height: 10px !important;
}

::-webkit-scrollbar-::-webkit-scrollbar-track {
    background: #fff !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193) !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474 !important;
}

::-webkit-scrollbar-corner {
    background: #fff !important;
}